Repository StevensSEC/softe.club, pull requests merged in 2020-10, with the labels that each got.

#191 Render list of articles for better discovery
  src/components/ArticleList/ArticleList.js
  src/components/ArticleList/ArticleList.scss
  src/views/Home/Home.js
Labels: enhancement

#190 Implemented slide deck controls
  src/components/SlideDeck/SlideDeck.js
  src/components/SlideDeck/SlideDeck.scss
Labels: bug, enhancement, feature/slides

#199 fixes #198
  src/components/SlideDeck/SlideDeck.js
Labels: bug, feature/slides

#201 add hacktoberfest
  src/Router.js
  src/assets/flyers/hacktoberfestgraphic.png
  src/views/Home/Events.js
Labels: enhancement

#196 Add automatic slide generator from YAML config
  package.json
  src/App.js
  src/Router.js
  src/articles/docs/slidedecks.md
  src/components/SlideDeck/SlideDeck.js
  src/components/SlideDeck/SlideDeck.scss
  src/slides/example-slides.yaml
  src/views/Slides/QuickSlides.js
Labels: content/article, content/slides, documentation, enhancement, feature/slides

#207 refactor markdown
  .github/labeler.yml
  src/articles/docs/README.md
  src/articles/docs/slidedecks.md
  src/components/Link/Link.js
  src/components/SecMarkdown/SecMarkdown.js
  src/components/SecMarkdown/SecMarkdown.scss
  src/slides/example-slides.yaml
  src/views/Article/Article.js
  src/views/Article/Article.scss
  src/views/ComponentsDemo/ComponentsDemo.js
  src/views/Slides/QuickSlides.js
  src/views/Slides/QuickSlides.scss
Labels: content/article, content/slides, documentation, feature/articles

#212 slide deck tests
  prettier.config.js
  src/components/SlideDeck/SlideDeck.js
  src/components/SlideDeck/SlideDeck.test.js
  src/slides/example-slides.yaml
  src/slides/test/markdown.yaml
  src/slides/test/minimum.yaml
  src/slides/test/sticky.yaml
  src/views/ComponentsDemo/ComponentsDemo.js
  src/views/Slides/QuickSlides.js
  src/views/Slides/QuickSlides.scss
  src/views/Slides/QuickSlides.test.js
Labels: content/slides, feature/slides, testing

#214 Added keycode.info to resources
  src/articles/guides/resources.md
Labels: content/article, enhancement

#217 update events
  .github/workflows/lint.yml
  src/assets/flyers/GBM10.png
  src/assets/flyers/GBM11.png
  src/assets/flyers/GBM6.png
  src/assets/flyers/GBM7.png
  src/assets/flyers/GBM8.png
  src/assets/flyers/GBM9.png
  src/views/Home/Events.js
Labels: content/events

#218 improve event layout and styling
  src/App.scss
  src/components/EventBanner/EventBanner.jsx
  src/components/EventBanner/EventBanner.scss
  src/components/EventBanner/EventBanner.test.js
  src/views/Home/Events.js
  src/views/Home/Home.scss
Labels: bug, enhancement, refactor, testing

#222 Debugging Workshop Slides
  src/Router.js
  src/articles/docs/README.md
  src/slides/events/debugging-workshop.yaml
Labels: content/article, content/slides, documentation

#224 refactoring and eslint rule fixes
  .eslintrc.js
  .github/workflows/lint.yml
  package.json
  src/components/ArticleList/ArticleList.js
  src/components/DocumentTitle/DocumentTitle.js
  src/components/EventBanner/EventBanner.jsx
  src/components/Footer/Footer.jsx
  src/components/Header/Header.jsx
  src/components/ProjectWall/ProjectWall.js
  src/components/SEC/Button/Button.js
  src/components/SEC/Button/Button.scss
  src/components/SEC/Button/Button.test.js
  src/components/SEC/Link.js
  src/components/SEC/README.md
  src/components/SEC/lib.js
  src/components/SecMarkdown/SecMarkdown.js
  src/views/ComponentsDemo/ComponentsDemo.js
  src/views/Home/Home.js
  src/views/PimpMyTerminal/PimpMyTerminal.js
  src/views/Slides/fall-2020-gbm1/fall-2020-gbm1.js
  src/views/Team/Team.jsx
Labels: content/events, content/slides, enhancement, meta/workflow, refactor, testing
