Repository StevensSEC/softe.club, pull requests merged in 2020-08, with the labels that each got.

#143 add resources for some languages fix #137 also fix #133
  sec.club/src/articles/resources.md
Labels: article, enhancement

#139 add some rust resources
  sec.club/src/articles/resources.md
Labels: article, enhancement

#144 Slide deck for presentations
  sec.club/src/Router.js
  sec.club/src/components/SlideDeck/SlideDeck.js
  sec.club/src/components/SlideDeck/SlideDeck.scss
  sec.club/src/views/SlideDeckDemo/SlideDeckDemo.js
Labels: enhancement

#142 Add a redirect to our slack
  sec.club/src/Router.js
Labels: enhancement

#149 nextSlide() does not permit out-of-bounds movement
  sec.club/src/components/SlideDeck/SlideDeck.js
Labels: bug

#129 Improved Meet the Team page
  sec.club/src/Router.js
  sec.club/src/articles/team.md
  sec.club/src/assets/profiles/adrian.jpeg
  sec.club/src/assets/profiles/carson.png
  sec.club/src/assets/profiles/david.jpeg
  sec.club/src/assets/profiles/sarah.png
  sec.club/src/assets/profiles/user.jpg
  sec.club/src/views/Team/Team.jsx
  sec.club/src/views/Team/Team.scss
Labels: article

#152 Refactor logo animation
  sec.club/src/assets/logo-hero.scss
  sec.club/src/components/Logo/Logo.jsx
  sec.club/src/components/Logo/Logo.scss
  sec.club/src/views/Home/Home.js
  sec.club/src/views/NotFound/NotFound.jsx
Labels: refactor

#155 fix h2 being centered where it shouldn't
  sec.club/src/views/Team/Team.jsx
  sec.club/src/views/Team/Team.scss
Labels: bug

#156 make all links have the same style by default
  sec.club/src/App.scss
  sec.club/src/components/Button/Button.scss
  sec.club/src/views/Article/Article.scss
  sec.club/src/views/Team/Team.jsx
  sec.club/src/views/Team/Team.scss
Labels: refactor

#157 add more general body members
  sec.club/src/views/Team/Team.jsx
Labels: enhancement

#159 Sticky slides
  sec.club/src/components/SlideDeck/SlideDeck.js
  sec.club/src/components/SlideDeck/SlideDeck.scss
  sec.club/src/views/SlideDeckDemo/SlideDeckDemo.js
Labels: enhancement

#160 add dedicated documentation folder, also close #138
  sec.club/README.md
  sec.club/src/Router.js
  sec.club/src/articles/docs/README.md
  sec.club/src/articles/docs/articles.md
  sec.club/src/articles/docs/design.md
  sec.club/src/articles/docs/slidedecks.md
  sec.club/src/views/Article/Article.test.js
Labels: article, documentation
