Repository StevensSEC/softe.club, pull requests merged in 2020-03, with the labels that each got.

#108 update resources with better advice
  sec.club/src/articles/resources.md
Labels: article, enhancement

#114 Fixed minor errors
  sec.club/src/components/Footer/Footer.jsx
  sec.club/src/views/Home/Home.js
Labels: bug

#113 Pmt fixes
  sec.club/src/articles/events/pimp-my-terminal/pimp-my-terminal.md
  sec.club/src/views/PimpMyTerminal/PimpMyTerminal.js
  sec.club/src/views/PimpMyTerminal/PimpMyTerminal.scss
Labels: article, bug

#116 add set default terminal article
  sec.club/src/App.js
  sec.club/src/articles/events/pimp-my-terminal/howto-set-default-terminal.md
  sec.club/src/articles/events/pimp-my-terminal/pimp-my-terminal.md
Labels: article, enhancement

#119 Codeblock improvements
  sec.club/src/articles/README.md
  sec.club/src/articles/events/pimp-my-terminal/howto-ensure-bashrc-profile-setup.md
  sec.club/src/components/CodeBlock/CodeBlock.js
  sec.club/src/components/CodeBlock/CodeBlock.scss
  sec.club/src/components/CodeBlock/CodeBlock.test.js
  sec.club/src/views/Article/Article.scss
Labels: article, bug, enhancement

#109 Article throws error for an invalid route
  sec.club/src/App.js
  sec.club/src/Router.js
  sec.club/src/articles/README.md
  sec.club/src/views/Article/Article.js
  sec.club/src/views/Article/Article.test.js
  sec.club/src/views/PimpMyTerminal/PimpMyTerminal.js
Labels: article, enhancement

#121 Added missing route for setting default terminal
  sec.club/src/Router.js
  sec.club/src/components/Header/Header.jsx
Labels: article, bug

#124 Links to other routes in articles work properly again
  sec.club/src/views/Article/Article.js
  sec.club/src/views/Article/Article.test.js
Labels: bug
