Repository StevensSEC/softe.club, pull requests merged in 2020-09, with the labels that each got.

#162 Update deploy.yml
  .github/workflows/deploy.yml
Labels: refactor

#166 Fall 2020 gbm1
  src/App.js
  src/Router.js
  src/articles/fall-2020-open-source-projects.md
  src/articles/resources.md
  src/components/SlideDeck/SlideDeck.scss
  src/views/SLP/Projects.js
  src/views/Slides/fall-2020-gbm1/fall-2020-gbm1.js
  src/views/Slides/fall-2020-gbm1/fall-2020-gbm1.scss
Labels: article, enhancement

#165 Hideable header and footer
  src/App.js
  src/App.test.js
  src/components/Header/Header.jsx
  src/components/Header/Header.scss
  src/components/SlideDeck/SlideDeck.js
  src/contexts.js
  src/index.js
Labels: bug, enhancement

#170 update/replace issue links, add gbm 2 event
  .github/labeler.yml
  src/articles/fall-2020-open-source-projects.md
  src/assets/flyers/GBM2.png
  src/views/Home/Events.js
Labels: article, enhancement

#171 add a couple projects/issues to the fall2020 guide
  src/articles/fall-2020-open-source-projects.md
Labels: article

#176 Reorganize resources page
  src/Router.js
  src/articles/faq.md
  src/articles/resources.md
  src/articles/slp/open-together-tube.md
  src/components/Header/Header.jsx
Labels: article, enhancement

#180 Slides cannot scroll
  src/components/SlideDeck/SlideDeck.scss
  src/views/SlideDeckDemo/SlideDeckDemo.js
Labels: bug

#184 improved events
  package-lock.json
  package.json
  src/articles/about.md
  src/assets/flyers/GBM3.png
  src/assets/flyers/GBM4.png
  src/assets/flyers/GBM5.png
  src/components/EventBanner/EventBanner.jsx
  src/components/EventBanner/EventBanner.test.js
  src/views/Home/Events.js
  src/views/Home/Home.js
  src/views/Home/Home.scss
Labels: content/article, enhancement, testing

#181 add special link handling for github links
  src/views/Article/Article.js
Labels: enhancement, feature/articles

#182 update open source project list
  src/articles/fall-2020-open-source-projects.md
Labels: content/article, enhancement

#185 add /imhere redirect to make attendance a little easier
  src/Router.js
Labels: enhancement

#187 tools and github articles
  src/Router.js
  src/articles/cheatsheets/bash.md
  src/articles/cheatsheets/git.md
  src/articles/cheatsheets/powershell.md
  src/articles/docs/articles.md
  src/articles/guides/github.md
  src/articles/guides/resources.md
  src/articles/guides/what-to-install.md
  src/articles/slp.md
  src/articles/tutorials/howto-enable-terminal-colors-mac.md
  src/articles/tutorials/howto-ensure-bashrc-profile-setup.md
  src/articles/tutorials/howto-install-iterm2-themes.md
  src/articles/tutorials/howto-install-wsl.md
  src/articles/tutorials/howto-set-default-shell.md
  src/articles/tutorials/howto-set-default-terminal.md
  src/articles/tutorials/howto-use-cli-text-editors.md
  src/articles/tutorials/howto-vscode-set-theme.md
  src/assets/guides/github/example-repo.png
  src/assets/guides/github/new-repo.png
Labels: content/article, documentation, enhancement
