Repository StevensSEC/softe.club, pull requests merged in 2020-02, with the labels that each got.

#56 set page title when navigating to different pages
  sec.club/src/App.js
  sec.club/src/components/DocumentTitle/DocumentTitle.js
  sec.club/src/views/Article/Article.js
  sec.club/src/views/Home/Home.js
Labels: enhancement

#57 Added 404 not found page
  sec.club/src/App.js
  sec.club/src/views/NotFound/NotFound.jsx
  sec.club/src/views/NotFound/NotFound.scss
  sec.club/src/views/NotFound/logo-static.scss
Labels: enhancement

#60 Tests
  .github/workflows/deploy.yml
  sec.club/package-lock.json
  sec.club/package.json
  sec.club/src/App.js
  sec.club/src/views/Article/Article.js
  sec.club/webpack.config.js
Labels: enhancement, testing

#61 fix loader math so it makes more sense, more controlled
  sec.club/src/components/Loader/Loader.js
Labels: bug

#66 Add Article view tests
  sec.club/package-lock.json
  sec.club/package.json
  sec.club/src/articles/test/placeholder.md
  sec.club/src/setupTests.js
  sec.club/src/views/Article/Article.js
  sec.club/src/views/Article/Article.test.js
Labels: enhancement, testing

#68 Added Slack, mailing list links
  sec.club/src/articles/contact.md
Labels: article, enhancement

#69 fix app bar reverting to material colors
  sec.club/src/components/Header/Header.scss
Labels: bug

#59 Added an EventBanner component to display flyers and a description on the front page
  sec.club/src/assets/flyers/LearnHack.png
  sec.club/src/assets/flyers/Pair Programming.png
  sec.club/src/components/EventBanner/EventBanner.jsx
  sec.club/src/components/EventBanner/EventBanner.scss
  sec.club/src/views/Home/Home.js
Labels: enhancement

#72 add pair programming article
  sec.club/src/App.js
  sec.club/src/articles/events/2020-pair-programming.md
Labels: article, enhancement

#73 Article router link check
  sec.club/src/views/Article/Article.js
Labels: enhancement

#74 Expired events are hidden and easily adding many events
  sec.club/src/components/EventBanner/EventBanner.jsx
  sec.club/src/views/Home/Events.js
  sec.club/src/views/Home/Home.js
Labels: enhancement

#75 Header refactor
  sec.club/package-lock.json
  sec.club/package.json
  sec.club/src/App.js
  sec.club/src/components/Button/Button.js
  sec.club/src/components/Button/Button.scss
  sec.club/src/components/Button/Button.test.js
  sec.club/src/components/Header/Header.jsx
  sec.club/src/components/Header/Header.scss
  sec.club/src/setupTests.js
  sec.club/src/variables.scss
  sec.club/src/views/ComponentsDemo/ComponentsDemo.js
Labels: enhancement

#76 add CodeBlock tests
  sec.club/src/components/CodeBlock/CodeBlock.test.js
Labels: enhancement, testing

#78 Added EventBanner tests
  sec.club/src/assets/flyers/Test.jpg
  sec.club/src/components/EventBanner/EventBanner.test.js
Labels: enhancement, testing

#81 Added altText prop to EventBanner and tests
  sec.club/src/components/EventBanner/EventBanner.jsx
  sec.club/src/components/EventBanner/EventBanner.test.js
  sec.club/src/views/Home/Events.js
Labels: enhancement, testing

#83 make buttons with no to prop not add # to url when clicked
  sec.club/src/components/Button/Button.js
  sec.club/src/components/Button/Button.scss
  sec.club/src/components/Button/Button.test.js
Labels: bug

#84 add automated tests for pull requests
  .github/workflows/test.yml
Labels: enhancement, testing

#87 auto label pull requests based on files changed
  .github/labeler.yml
  .github/workflows/label.yml
Labels: enhancement

#89 Focused style shares hover style
  sec.club/src/components/Button/Button.scss
Labels: bug

#93 Basic, bare minimum team page
  sec.club/src/articles/team.md
Labels: article, enhancement

#91 Added footer with icon links
  sec.club/src/App.js
  sec.club/src/assets/email.svg
  sec.club/src/assets/github.png
  sec.club/src/assets/groupme.svg
  sec.club/src/assets/instagram.svg
  sec.club/src/assets/slack.svg
  sec.club/src/components/Footer/Footer.jsx
  sec.club/src/components/Footer/Footer.scss
  sec.club/src/views/Home/Home.js
Labels: enhancement

#96 Fixed Adam's unofficial offical title
  sec.club/src/articles/team.md
Labels: article

#97 Added Pimp My Terminal event
  sec.club/src/assets/flyers/LearnHack.png
  sec.club/src/assets/flyers/Pair Programming.png
  sec.club/src/assets/flyers/Pimp my terminal.png
  sec.club/src/views/Home/Events.js
Labels: article, enhancement

#95 Footer is now absolutely positioned
  sec.club/src/App.js
  sec.club/src/App.scss
Labels: bug

#100 add OpenTogetherTube article
  sec.club/src/articles/slp/open-together-tube.md
  sec.club/src/assets/slp/opentogethertube/ott-screenshot1.png
  sec.club/src/assets/slp/opentogethertube/ott-screenshot2.png
Labels: article, enhancement

#102 add stevens web extension article
  sec.club/src/articles/slp/stevens-web-extension.md
  sec.club/src/views/SLP/Projects.js
Labels: article, enhancement

#103 Quick quack
  sec.club/src/articles/slp/quick-quack.md
  sec.club/src/assets/slp/quick-quack.png
Labels: article, enhancement

#71 Feature/slp view
  sec.club/src/App.js
  sec.club/src/App.scss
  sec.club/src/articles/slp/open-together-tube.md
  sec.club/src/articles/slp/quick-quack.md
  sec.club/src/articles/slp/stevens-web-extension.md
  sec.club/src/assets/next.svg
  sec.club/src/assets/project-wall/open-together-tube-logo.svg
  sec.club/src/assets/slp/opentogethertube/ott-screenshot1.png
  sec.club/src/assets/slp/opentogethertube/ott-screenshot2.png
  sec.club/src/assets/slp/quick-quack.png
  sec.club/src/components/Button/Button.js
  sec.club/src/components/ProjectWall/ProjectWall.js
  sec.club/src/components/ProjectWall/ProjectWall.scss
  sec.club/src/views/SLP/Projects.js
  sec.club/src/views/SLP/SLP.js
Labels: article, enhancement
