Repository StevensSEC/softe.club, pull requests merged in 2021-01, with the labels that each got.

#234 Add some more resources to the resources page
  src/Router.js
  src/articles/guides/resources.md
Labels: content/article, enhancement

#236 add open source contributions from last semester
  src/components/Contributions/Contributions.js
  src/data/contributions/2020fall.json
  src/views/Home/Home.js
Labels: enhancement

#237 Add new gbm 1 flyer
  src/assets/flyers/GBM1.png
  src/assets/flyers/GBM10.png
  src/assets/flyers/GBM11.png
  src/assets/flyers/GBM2.png
  src/assets/flyers/GBM3.png
  src/assets/flyers/GBM4.png
  src/assets/flyers/GBM5.png
  src/assets/flyers/GBM6.png
  src/assets/flyers/GBM7.png
  src/assets/flyers/GBM8.png
  src/assets/flyers/GBM9.png
Labels: content/events
