Repository StevensSEC/softe.club, pull requests merged in 2021-02, with the labels that each got.

#238 Partially update events
  .github/labeler.yml
  src/App.test.js
  src/Events.js
  src/assets/flyers/learnHack-GO.png
  src/components/EventBanner/EventBanner.jsx
  src/views/Home/Events.js
  src/views/Home/Home.js
Labels: content/events

#239 Updated contributed prs based on fix to contributions script
  src/data/contributions/2020fall.json
Labels: content/article

#241 Add gbm 1 slides, fix/add some other stuff
  src/Router.js
  src/components/SlideDeck/SlideDeck.js
  src/components/SlideDeck/SlideDeck.scss
  src/slides/spring-2021-gbm1.yaml
  src/views/Slides/QuickSlides.js
  src/views/Slides/QuickSlides.scss
Labels: content/slides, feature/slides

#243 learnhack spring2021
  src/Router.js
  src/articles/cheatsheets/powershell.md
  src/articles/guides/resources.md
  src/assets/git-white.png
  src/assets/golang-gopher.png
  src/slides/spring-2021-learnhack.yaml
  src/views/Home/Home.js
  src/views/Slides/QuickSlides.js
  src/views/Slides/QuickSlides.scss
Labels: content/article, content/slides

#244 update events
  src/Events.js
  src/Router.js
  src/assets/flyers/GBM10.png
  src/assets/flyers/GBM11.png
  src/assets/flyers/GBM2.png
  src/assets/flyers/GBM3.png
  src/assets/flyers/GBM4.png
  src/assets/flyers/GBM5.png
  src/assets/flyers/GBM6.png
  src/assets/flyers/GBM7.png
  src/assets/flyers/GBM8.png
  src/assets/flyers/GBM9.png
  src/assets/flyers/pair-programming.png
Labels: content/events

#247 pair programming
  src/Router.js
  src/articles/events/pair-programming-s21.md
  src/assets/pair-programming/codinglove.png
  src/assets/pair-programming/question-1.png
  src/assets/pair-programming/question-3-1.png
  src/assets/pair-programming/question-3-2.png
  src/slides/events/pair-programming-s21.yaml
Labels: content/article, content/events, content/slides

#248 helped to clarify some explainations
  src/articles/events/pair-programming-s21.md
Labels: content/article, content/events

#249 pair programming slide update
  src/slides/events/pair-programming-s21.yaml
Labels: content/slides

#250 Increment end date on concatenated section
  src/Events.js
Labels: bug, content/events
