Repository StevensSEC/softe.club, pull requests merged in 2021-03, with the labels that each got.

#251 Addition of RenPy Workshop Event
  src/Events.js
  src/assets/flyers/renpy_workshop.png
Labels: content/events

#258 add resource streamlining
  .github/ISSUE_TEMPLATE/new_resource.md
  .github/ISSUE_TEMPLATE/new_resource.yml
  src/articles/docs/articles.md
  src/articles/guides/resources.md
  src/components/SecMarkdown/SecMarkdown.js
  src/components/SecMarkdown/SecMarkdown.test.js
Labels: content/article, documentation, testing

#259 Pimp my terminal add
  package-lock.json
  src/Events.js
  src/assets/flyers/Pimp my terminal.png
  src/assets/flyers/pmt_2021.png
Labels: content/events

#262 Additions to Pimp My Terminal
  src/articles/events/pimp-my-terminal/pimp-my-terminal.md
  src/assets/pimp-my-terminal/font-preview-victor-mono.png
  src/assets/pimp-my-terminal/powerlevel10k.png
Labels: content/article, content/events

#260 windows terminal tutorial
  src/Router.js
  src/articles/events/pimp-my-terminal/pimp-my-terminal.md
  src/articles/tutorials/howto-install-use-windows-terminal.md
  src/assets/tutorials/howto-use-windows-terminal0.png
  src/assets/tutorials/howto-use-windows-terminal1.png
  src/assets/tutorials/howto-use-windows-terminal2.png
  src/assets/tutorials/howto-use-windows-terminal3.png
  src/assets/tutorials/howto-use-windows-terminal4.png
  src/assets/tutorials/howto-use-windows-terminal5.png
  src/assets/tutorials/howto-use-windows-terminal6.png
Labels: content/article, content/events

#264 Add some more tools
  src/Router.js
  src/articles/guides/tools.md
  src/components/Header/Header.jsx
Labels: content/article

#266 Add flexbox tools and resources
  src/articles/guides/resources.md
  src/articles/guides/tools.md
Labels: content/article
