Repository StevensSEC/softe.club, pull requests merged in 2021-09, with the labels that each got.

#279 add code review guide
  src/Router.js
  src/articles/guides/code-reviews.md
  src/assets/guides/code-reviews/pr-default-screen.png
  src/assets/guides/code-reviews/pr-files-changed.png
  src/assets/guides/code-reviews/pr-make-comment.png
  src/assets/guides/code-reviews/pr-review-submit.png
  src/assets/guides/code-reviews/pr-split-view.png
  src/assets/guides/code-reviews/pr-start-review.png
Labels: enhancement, content/article

#281 Add Discord button to footer
  src/articles/contact.md
  src/assets/discord.svg
  src/components/Footer/Footer.jsx
Labels: content/article

#282 Add events for fall 2021
  .tours/maintainence.tour
  src/Events.js
  src/assets/flyers/GBM12021F.png
  src/assets/flyers/GBM22021F.png
  src/assets/flyers/GBM32021F.png
  src/assets/flyers/GBM42021F.png
Labels: documentation, content/events

#285 Update GBM times
  src/Events.js
Labels: content/events

#288 Slides for GBM 1 Fall 2021
  src/Router.js
  src/slides/fall-2021-gbm1.yaml
Labels: content/slides

#290 add cdecl to tools page
  src/articles/guides/tools.md
Labels: content/article

#292 add attendance link
  src/Router.js
  src/slides/fall-2021-gbm1.yaml
Labels: content/slides

#293 update what to install guide
  src/articles/guides/what-to-install.md
Labels: content/article

#291 Convert event banner component into typescript
  package-lock.json
  package.json
  src/components/EventBanner/EventBanner.jsx
  src/components/EventBanner/EventBanner.test.js
  src/components/EventBanner/EventBanner.tsx
  src/react-app-env.d.ts
  src/views/Home/Home.js
  tsconfig.json
Labels: testing

#296 Change meeting link
  src/Events.js
Labels: content/events

#300 convert events file to typescript
  .github/labeler.yml
  .tours/maintainence.tour
  src/App.test.js
  src/Events.ts
  src/views/Home/Home.js
Labels: documentation, testing

#301 Add learnHack event
  src/Events.ts
  src/assets/flyers/learnhack_2021f.png
Labels: content/events

#295 SLP Page Redesign
  .tours/maintainence.tour
  .vscode/softe.club.code-snippets
  package-lock.json
  package.json
  src/Router.js
  src/articles/contributions.md
  src/articles/docs/articles.md
  src/articles/slp/monocle.md
  src/articles/slp/open-together-tube.md
  src/articles/slp/pokemonbattlelib.md
  src/articles/slp/quick-quack.md
  src/articles/slp/stevens-web-extension.md
  src/assets/slp/pokemonbattlelib.png
  src/assets/slp/quick-quack.png
  src/components/Contributions/Contributions.js
  src/components/Contributions/Contributions.tsx
  src/utils/fetchMarkdown.ts
  src/views/Article/Article.js
  src/views/Article/Article.test.js
  src/views/Article/Article.tsx
  src/views/Contributions/Contributions.js
  src/views/Contributions/Contributions.scss
  src/views/Contributions/Contributions.tsx
  src/views/PimpMyTerminal/PimpMyTerminal.js
  src/views/SLP/Projects.js
  src/views/SLP/Projects.ts
  src/views/SLP/SLP.js
  src/views/SLP/SLP.scss
  src/views/SLP/SLP.tsx
  src/views/SLP/SLPComponent.tsx
Labels: documentation, testing, content/article, content/events, feature/articles
