Repository StevensSEC/softe.club, pull requests merged in 2022-12, with the labels that each got.

#328 fixed broken link
  src/articles/events/pimp-my-terminal/pimp-my-terminal.md
Labels: content/article, content/events

#330 Dependency upgrades
  .babelrc
  .eslintrc.js
  package-lock.json
  package.json
  src/articles/docs/slidedecks.md
  src/components/CodeBlock/CodeBlock.js
  src/components/Contributions/Contributions.tsx
  src/components/Loader/ErrorBoundaryLoader.js
  src/components/Loader/Loader.js
  src/components/Logo/Logo.jsx
  src/utils/fetchMarkdown.ts
  src/views/Article/Article.test.js
  src/views/Contributions/Contributions.tsx
  src/views/Home/Home.js
  src/views/NotFound/NotFound.jsx
  src/views/PimpMyTerminal/PimpMyTerminal.js
  src/views/SLP/SLP.tsx
  src/views/SlideDeckDemo/SlideDeckDemo.js
  src/views/Slides/QuickSlides.js
  src/views/Slides/QuickSlides.test.js
  src/views/Slides/fall-2020-gbm1/fall-2020-gbm1.js
  src/views/Team/Team.jsx
  tsconfig.json
Labels: documentation, testing, content/article, refactor, content/slides, content/events, feature/articles, meta/maintenance, dependencies

#331 add unit tests to check if all existing articles render sucessfully
  src/views/Article/Article.test.js
Labels: testing, feature/articles
